/* Font Face */
@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/Geist-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Main Styles */
body {
  display: flex;
  flex-direction: column;
  font-family: "Geist", serif;
  font-weight: 400;
  background-color: #F3F4F6;
  color: #333333;
}

header h1 {
  margin-top: 20px;
  text-align: center;
  color: #111827;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  min-height: 60vh;
}

.timeline-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.timeline-item {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-bottom: 1.25rem;
}

.timeline-item h2,
.timeline-item h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h2,
h3 {
  color: #111827;
}

p {
  color: #374151;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 40px 20px;
}

.contact-form {
  font-family: "Geist", serif;
  font-weight: 600;
}

.contact-form label {
  display: block;
  margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.contact-form button[type="submit"] {
  background-color: #3C82F6;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
  font-family: "Geist", serif;
  font-weight: 600;
  font-size: 100%;
}

.contact-form button[type="submit"]:hover {
  background-color: #2563EB;
}

.thanks-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  background-color: #1F2937;
  width: 100%;
  line-height: 1.6;
  margin-top: auto;
}

footer p {
  color: #FFFFFF;
}